@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;1,200&display=swap');

body{
    margin: 0px;
    font-family: 'Jost', sans-serif;
    background-color: #fdfdfd;

}

.container{
    display: flex;
    /*border: 2px solid green;*/
    max-width: 1120px;
    margin: 0 auto;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #02244a;
}

header{
    margin-top: 10px;
    /*background-color: red;*/
    height: 32px;
}

nav{
    /*background-color: aqua;*/
    width: 300px;
    display: flex;
    height: 100%;
    justify-content: start;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
}

header .container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero{
    height: 40vh;
    padding: 100px 0px;
    background-color: #02244a;
}

.descricao{
    width: 300px;
}

.descricao a{
    color: white;
}

.fa-brands{
    font-size: 30px;
    margin-right: 10px;
    cursor: pointer;
}

.fa-square-github{
    color:#e1bdff;
}

.fa-square-github:hover{
    color:#b65ffd;
}

.fa-square-behance{
    color:#bdf2ff;
}

.fa-square-behance:hover{
    color:#5fdfff;
}

.fa-itch-io{
    color:#ffaeb5;
}

.fa-itch-io:hover{
    color:#ff5362;
}

span#nome{
    font-size: 1.5em;
}

span#typing{
    color: rgb(253, 132, 19);
}

span#typing::after{
    content:'|';
    color: white;
}
.hero{
    color: white;
}

.hero .container{
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.hero img{
    width: 200px;
    height: 200px;
}

ul{
   list-style: none;
   margin: 0px;
   padding: 0px;
}

li{
    text-transform: uppercase;
    display: inline;
    font-size: 1.2em;
    /*background-color: blue;*/
    padding: 6px 10px;
}

li:hover{
    background-image: linear-gradient(to right, rgb(238, 238, 238), rgb(218, 218, 218));
    cursor: pointer;
}

img{
    border-radius: 3px;
}

a.view{
    color: rgb(253, 85, 19);
}


.projects .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 5px;
    gap: 20px 15px;
    border-bottom: 3px solid #02244a;
    padding: 50px 0px;
}


.titulo{
    width: 100%;
    text-align: center;
    font-size: 1.5em;
}

.botao{
    width: 100%;
    text-align: center;
    font-size: 1em;
}



.botao a{
    padding: 10px 20px;
    border: 2px solid #02244a;
    box-shadow: 3px 3px #02244a;
    color: rgb(253, 132, 19);
    text-decoration: none;
    display: inline-block;
    background-color: white;
}

.botao a:active{
    box-shadow: 1px 1px black;
    transform: translateY(2px);  
}

.botao a:hover{
    background-image: linear-gradient(to right, rgb(238, 238, 238), rgb(218, 218, 218));
}

.titulo h1, .titulo h2{
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #02244a;

}

.titulo h2{
    font-size: 1em;
}

.card{
    border: 2px solid #02244a;
    border-radius: 5px;
    width: 250px;
    text-align: center;
    transition: 0.5s;
    background-color: white;
}

.tresd{
    width: 300px;
    height: 200px;
    cursor:default;
}


.card img{
    width: 100%;
    height: 150px;
}

.tresd img{
    width: 100%;
    height: 100%;
    cursor:default;
}


.card:hover{
    transform: scale(105%);
    cursor: pointer;
}

.tresd:hover{
    transform: scale(100%);
}

.card h1, .card p{
    margin: 10px 0px;
}

.card h1{
    font-size: 1.3em;
}

.card p{
    padding: 0px 10px;
}

footer{
    height: 20vh;
}

@media screen and (max-width: 1300px){
    .container{
        width: 80vw;
    }
}

@media screen and (max-width: 700px){
    .hero .container{
        flex-direction: column;
        justify-content: center;
    }

    .hero{
        height: 60vh;
        margin: 0px 0px 100px 0px;
    }

    .descricao h1{
        text-align: center;
        margin-bottom: 30px;
    }

    .descricao{
        text-align: center;
        margin-bottom: 40px;
    }

    .descricao h1 div{
        text-align: left;
    }

    .projects .container{
        column-gap:0px;
    }
}
